:root {
  --kolkhoz-paper-cream: #f5d19a;
  --kolkhoz-harvest-gold: #e9b353;
  --kolkhoz-field-green: #b7b34a;
  --kolkhoz-poster-red: #e13212;
  --kolkhoz-slate-charcoal: #58595b;
  --kolkhoz-ink-black: #120e08;

  --kolkhoz-sunlit-yellow: #f1c667;
  --kolkhoz-deep-olive: #7b794a;
  --kolkhoz-earth-brown: #754e2f;
  --kolkhoz-workwear-gray: #93876a;
}
