{% extends 'base.html' %}
{% block content %}
<div class="page-wrapper">
  <header class="topbar">
    <div class="top-section">Колхоз (Kolkhoz):</div>
    <div class="jobs">
      <a class="button" href="{{ url_for('view') }}">Start Game</a>
    </div>
  </header>
  
  <main class="main">
    <section id="kolkhoz-rules" class="rules-section">
      <iframe src="https://docs.google.com/document/d/e/2PACX-1vT0wmZXS3b4hT7NXVtfzjqVbgCs-RUcKtCxoeAE9d71jKXUEy6iYJkw1FMjfxPrtzmwVQ1YWUY4C0cN/pub?embedded=true" 
              class="rules-iframe" 
              frameborder="0"></iframe>
    </section>
  </main>
</div>
{% endblock %}